<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionPersonneGUI.Properties.Settings.gestion_personneConnectionString" connectionString="Data Source=JOSAM;Initial Catalog=gestion_personne;User ID=sa;Password=isig" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
