<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="keyjos"/>
  </appSettings>
  <connectionStrings>
    <add name ="conStringGestionPersonne" connectionString="Data Source='JOSAM';Initial Catalog='gestion_personne';User ID='sa';Password='isig'"/>
  </connectionStrings>
</configuration>